<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login Form to Add Users:</h2>
    <div>
        <form action="/" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="user" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <label for="Password">Password</label>
            <input type="password" name="password" id="pass">
            <input type="submit" value="Login">
            <input type="reset" value="Reset">
        </form>
    </div>
    <br>
    <h2>Users: </h2>
     <ol>
        {% for user in users %}
        <li>{{ user.username }} - {{ user.email }}</li>
            <a href="/{{ user.id }}">Delete</a>
        {% endfor %}
    </ol>
    <!-- <a href="/">Add More...</a> -->
</body>
</html>