<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label for="username">Enter Username</label>
        <input type="text" name="username" id="user"><br><br>
        <input type="submit" value="login">
    </form>
</body>
</html> -->

<!-- Role based Login System -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role-Based Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label for="usrename">Username: </label>
        <input type="text" name="username" id="user">
        <label for="role">Role: </label>
        <input type="text" name="role" id="role">
        <input type="submit" value="login">
    </form>
</body>
</html>